<footer class="site-foot">
  <span>mido v{{ site.version }}. MIT licensed.</span>
  <span class="social">
    <a class="icon-link" href="{{ site.x }}" aria-label="Ani on X">{% icon "x" %}</a>
    <a class="icon-link" href="{{ site.repo }}" aria-label="mido on GitHub">{% icon "github" %}</a>
  </span>
</footer>
