---
layout: layouts/page.njk
title: Changelog
description: Every notable change to mido, by release.
tags: docs
order: 9
permalink: /changelog/
---
<h1>Changelog</h1>
{{ changelog | markdown | safe }}
